:root {
    --primary: #fff;
  }
  
  .pdf-converter-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the container takes the full height of the viewport */
  }
  
  .pdf-converter-input {
    margin-bottom: 10px;
  }
  
  .pdf-converter-button {
    padding: 12px 24px; /* Adjusted padding for larger buttons */
    border-radius: 8px; /* Added border-radius for rounded corners */
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
    margin-top: 10px; /* Add margin to the top for spacing */
  }
  
  .pdf-converter-button:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
  }
  
  .pdf-download-link {
    margin: 20px;
    text-decoration: none;
    color: green;
  }
  
  .pdf-download-link:hover {
    text-decoration: underline;
  }
  